$bem: '.blog-list'
.blog-list
	--card-p-lr: 55px
	--card-max: 520px
	.blog-card
		padding-top: 6.25rem
	&--inline
		--card-p-lr: 0
		.blog-card
			padding-top: 0
			margin-bottom: 14.0625rem
			&:last-child
				margin-bottom: 0
	&--small
		.blog-list__btn-holder
			&.grid-item
				text-align: right
		.blog-card
			--card-p-lr: 1.25rem
			padding-top: 3.125rem
		#{$bem}__slider
			padding: 3.75rem 0 0
		#{$bem}__btn
			--mb: 6.25rem
			margin-bottom: var(--mb)
			&-holder
				--fz-as: flex-end
				text-align: right
	.gallery-item-btn
		position: absolute
		top: 3.75rem
		right: 21.3%
		z-index: 9
		.icon
			--sz: 1.25rem



$bem: '.blog-card'
.blog-card
	padding-left: var(--card-p-lr)
	padding-right: var(--card-p-lr)
	max-width: var(--card-max)
	&:hover
		#{$bem}__img
			transform: rotate(5deg) 
	&__img-hold
		--mb: 2.125rem
		margin-bottom: var(--mb)
		display: block
	&__img
		transition: transform 0.5s
		width: 100%
	&__text-hold
	&__title
		--fz: 2rem
		--fw: 700
		--lh: 1.52
		--m: 0 0 0.625rem
		--c: var(--bl)
		color: var(--c)
		line-height: var(--lh)
		margin: var(--m)
		display: inline-block
		font-size: var(--fz)
		font-weight: var(--fw)
	&__category
		--fz: 1rem
		--dot-sz: 0.5rem
		--dot-c: var(--pr)
		--p: 1.5rem
		--c: var(--gray-light2)
		--mb: 1.5625rem
		position: relative
		display: flex
		flex-direction: row
		align-items: center
		color: var(--c)
		padding-left: var(--p)
		font-size: var(--fz)
		margin: 0 0 var(--mb)
		&::before
			content: ''
			position: absolute
			top: 50%
			left: 0
			transform: translate(0, -50%)
			width: var(--dot-sz)
			height: var(--dot-sz)
			background-color: var(--dot-c)
			border-radius: 50%
	&__tag-list
		--c: var(--gray)
		color: var(--c)
	&--inline
		display: flex
		justify-content: space-between
		align-items: center
		flex-direction: row-reverse
		align-content: flex-start
		#{$bem}__img-hold
			margin-bottom: 0
			min-width: 31.875rem
		#{$bem}__category
			--fz: 1.25rem
			--p: 1.5rem
			--mb: 1.75rem
			--c: var(--bl)
		#{$bem}__title
			--fz: 3rem
			--fw: 700
			--m: 0 0 1.125rem
		#{$bem}__text-hold
			padding-right: 4.375rem
	&--small
		max-width: 31.875rem
		#{$bem}__title
		#{$bem}__img-hold
			--mb: 1.625rem
		#{$bem}__text-hold
			padding-left: 1.25rem
	&--gray
		background-color: var(--gray-light)
		padding: 2.375rem 2.5rem
		#{$bem}__category
			color: var(--gray-light2)
			font-size: 1.25rem
		#{$bem}__title
			font-size: 2.5rem
		#{$bem}__tag-list
			font-size: 1.125rem
	&--ghost
		background-color: transparent
		padding: 0

