.call-nav
	width: 2.5rem
	height: 2.5rem
	border-radius: 50%
	background-color: var(--pr)
	position: fixed
	z-index: 99
	top: 4.375rem
	right: 80px
	font-size: 0
	color: transparent
	cursor: pointer
	+xl-1260
		right: 1.875rem
	&::before,
	&::after
		content: ''
		position: absolute
		height: 0.125rem
		width: 1.125rem
		background-color: var(--wh)
		right: 0.75rem
		transition: .25s
	&::before
		top: 1rem
	&::after
		top: 1.4375rem
		width: 0.9375rem
	&:hover
		&::before
			width: 0.9375rem
		&::after
			width: 1.125rem


$bem: '.nav'
.nav
	position: absolute
	width: 100%
	padding: 4.75rem 0
	& &__container
		align-items: center
	& &__logo
		top: 0.1875rem
	& &__menu
		font-size: 16px
		text-transform: uppercase
		margin-right: 3.125rem
		cursor: pointer
	&-padding
		padding-top: var(--nav-padding)




.navigation
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 999
	background-color: var(--bl)
	font-weight: 300
	padding-bottom: 10.875rem
	display: none
	&.show
		display: block
	.container
		height: 100%
		display: flex
		align-items: flex-end
	& &__base-nav
		position: absolute
		top: 0
		right: 0
	& &__contacts
		&-item
			padding-bottom: 6.375rem
			&:last-child
				padding-bottom: 0