h1, h2, h3, h4, h5, h6
	--lh: 1.15
	line-height: var(--lh)
	padding-top: var(--typo-elm-pt)
	padding-bottom: var(--typo-elm-pb)
	margin-top: var(--typo-elm-mt)
	margin-bottom: var(--typo-elm-mb)

.typography
	color: $default-text-color
	overflow: auto

	&,
	p
		line-height: 1.6
		font-size: $default-font-size

	p
		padding: rem(10px) 0 rem(12px) 0
		margin: 0