\:root
	--base-fz : $default-font-size
	--base-tc : $default-text-color
	--base-pl : $default-placeholder-color

	--pr: #EE665F

*, ::before, ::after 
	box-sizing: border-box

body
	font-family: 'Averta Demo PE'


svg
	--w: 24px
	--h: 24px
	position: relative
	width: var(--w)
	height: var(--h)

a,
button,
.pointer,
.btn,
	cursor: pointer
	text-decoration: none


a,
a:focus,
a:focus-within,
a:active,
a:hover,
button,
button:focus,
button:focus-within,
.btn,
.btn:hover,
.btn:focus,
.btn:active
	outline: none !important
	border: none

a
	color: $pr
	&:active
		color: $pr
	&:hover
		color: $pr-h

.d-flex
	display: flex

.d-justify
	justify-content: center 

.d-justify-between
	justify-content: space-between 

.animate::before,
.animate::after,
.animate
	transition: all .25s liner

.text-limit span,
.text-limit
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden
	display: inline-block
	max-width: 100%

.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::placeholder
	color: $default-placeholder-color

.after,
.before
	position: relative

.after::after,
.before::before
	content: ''
	position: absolute


$fwList: 300 400 500 600 700 800
@each $fontWeight in $fwList
	.fw-#{$fontWeight}
		font-weight: $fontWeight


.logo
	--w: 144px
	--h: 24px