$default-font-size: 16px
$default-text-color: #756B6B
$default-placeholder-color: #756B6B
$default-placeholder-color-wh: #C2B5B5

$pr:   #EE665F // primary color
$pr-h: #EE6042 // primary color hover


// Else colors
$wh: #ffffff // wh - white
$bl: #000000 // bl - black
$red: #EE665F


// Social
$youtube: #e62117
$skype: #00AEF3
$facebook: #4267b2
