.btn
	--h: 2.5rem
	--fz: 1.0625rem
	--fw: 600
	--fs: inherit
	--c: var(--pr)
	--c-h: var(--pr)
	--t-style: uppercase
	--flex-jc: flex-start
	--flex-ai: center
	color: var(--c)
	font-size: var(--fz)
	font-weight: var(--fw)
	font-style: var(--fs)
	min-height: var(--h)
	line-height: 1
	text-transform: var(--t-style)
	display: inline-flex
	justify-content: var(--flex-jc)
	align-items: var(--flex-ai)
	letter-spacing: 0.053125rem
	&:hover
		color: var(--c-h)
	&-icon
		width: 2.5rem
		height: 2.5rem
		display: flex
		justify-content: center
		align-items: center
		margin-left: 0.625rem
		.icon
			--sz: 0.875rem
			width: var(--sz)
			height: var(--sz)
			position: relative
			top: 0.0625rem
		&--fill
			background-color: var(--pr)
			color: var(--wh)
			border-radius: 50%
			.icon
				--sz: 12px
				top: 0
	&-transparent
		background-color: transparent
		border: none
		outline: none
	&-circle
		--fw: 400
		--sz: 4.5rem
		--bg-color: var(--bl)
		--bg-color-h: var(--bl)
		--c: var(--wh)
		--c-h: var(--wh)
		--flex-jc: center
		--flex-ai: center
		width: var(--sz)
		height: var(--sz)
		background-color: var(--bg-color)
		color: var(--c)
		border-radius: 50%
		&:hover
			background-color: var(--bg-color-h)
		&-sm
			--sz: 2.5rem
			.icon
				--sz: 1.25rem
		&-primary
			--bg-color: var(--pr)
			--bg-color-h: var(--pr)
			--c: var(--wh)
		&-ghost
			--bg-color: transparent
			--bg-color-h: var(--gray-light)
			--c: var(--bl)
			--c-h: var(--pr)
			--fw: 600
	&-nav-link
		--c: var(--gray)
		--t-style: inherit
		--fw: 400
		letter-spacing: 0
		&.active
			--c: var(--bl)
			--c-h: var(--bl)
			--fs: italic
			--fw: 600




.btn-group
	list-style-type: none
	display: inline-flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	margin-left: -1.25rem
	margin-right: -1.25rem
	&__li
		margin: 0
		padding: 0 1.25rem
		&::before
			display: none
	&__link
		--fz: 1.25rem
		display: flex
		min-height: 3.375rem
		align-items: center
		justify-content: center
		flex-wrap: wrap