.container
	--w: 1330px
	--p: 30px
	max-width: var(--w)
	padding-left: var(--p)
	padding-right: var(--p)
	margin-right: auto
	margin-left: auto
	position: relative
	&-fluid
		--w: 100%
		--p: 80px


.running-line
	--mt: -86px
	margin-top: var(--mt)
	z-index: 9
	position: relative
	width: 100%
	white-space: nowrap
	overflow: hidden
	& &__box
		--fz: 140px
		--time: 20s
		font-size: var(--fz)
		color: #212121
		display: inline-block
		padding-left: 100vw
		animation: runningText var(--time) infinite linear
		white-space: nowrap
		position: relative
		&--transparent
			color: transparent
			.text-line
				position: absolute
				top: 0
				left: 100vw
				letter-spacing: 0.2375rem

@keyframes runningText
	0%
		transform: translate(0, 0)
	100%
		transform: translate(-100%, 0)


.text-line
	--w: 100%
	--h: 100%
	--color: #000000
	--border: 2px
	--fw: 700
	--fz: 8.75rem
	width: var(--w)
	height: var(--h)
	stroke: var(--color) 
	stroke-width: var(--border)
	font-weight: var(--fw)
	font-size: var(--fz)
	display: flex
	&-with-ghost
		position: relative
		color: transparent
		--fz-ghost: 30px
		font-size: var(--fz-ghost)
		.text-line
			--t: 0
			--l: 0
			position: absolute
			top: var(--t)
			left: var(--l)
			font-size: var(--fz-ghost)


@keyframes dash
	to
		stroke-dashoffset: 0


@keyframes filling
	from
		fill: #2A4A73
		fill-opacity: 0

	to
		fill: #2A4A73
		fill-opacity: 1



.social-btns
	margin: 0 -1.125rem
	& &__btn
		margin: 0 1.125rem




.icon-near-text
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	align-items: flex-start
	&__icon
		margin-right: 2.375rem
		.icon
			--s: 3.125rem
			width: var(--s)
			height: var(--s)
	&__wrap
	
	&__title
		font-weight: 600
		font-size: 1.5rem
		margin: 0.3125rem 0 2.125rem
		line-height: 1.4
	&__desc
		color: var(--gray)
		font-weight: 400
		line-height: 1.6



.header-slide
	--pt: 9.125rem
	padding-top: var(--pt)
	& &__meta
		--typo-elm-mt: 0
		--typo-elm-mb: 0
		&-el
			font-size: 1.25rem
			margin-right: 2.1875rem
			&:last-child
				margin-right: 0
	& &__title
		--mb: 2.625rem
		--fz: 6.5625rem
		--line-h: 1.25
		--letr-sp: 0.09375rem
		--c: var(--wh)
		--fw: 400
		font-size: var(--fz)
		margin: 0
		line-height: var(--line-h)
		margin-bottom: var(--mb)
		font-weight: var(--fw)
		letter-spacing: var(--letr-sp)
		color: var(--c)
		position: relative
		z-index: 9
		mix-blend-mode: difference
	& &__btn
	& &__gallery-holder
		--t: 1.875rem
		--r: 5.9375rem
		position: absolute
		top: var(--t)
		right: var(--r)
		.gallery-slide
	& &__detail
		--w: 9rem
		--h: 9rem
		position: absolute
		bottom: -3.875rem
		right: -4.5rem



$bem: '.header'
.header
	background-color: var(--ov-box-bg)
	min-height: 67.5rem
	& &__hold
	& &__meta
		--fz: 1.25rem
		font-size: var(--fz)
	& &__title
		--fz: 6.875rem
		font-size: var(--fz)
		margin-left: -0.375rem
	&--big-text
		#{$bem}__meta
			--typo-elm-mb: 0
			--typo-elm-pt: 3.625rem
			font-size: 1.25rem
		#{$bem}__title
			--typo-elm-mt: 0
			--typo-elm-mb: 1.875rem
			font-size: 6.875rem
			font-weight: 400
		.detail-hero
			position: absolute
			top: 1rem
			right: -3.5rem
			width: var(--img-hero-sz)
			height: var(--img-hero-sz)
		.detail-1
			--sz: 40.625rem
			--t: -36.25rem
			--r: 10rem
	&--avatar
		#{$bem}__hold
			.header-slide
				--pt: 5.125rem
				max-width: 60%
				&__meta
					
				&__title
					--mb: 3.375rem
					--fz: 6.875rem
					--line-h: 1.15
					--letr-sp: 0
					margin-left: -0.375rem
				&__text
					--mb: 3.375rem
					max-width: 38.75rem
		.user-img-text
			--m: 3.875rem 0 0
	&--404
		#{$bem}__meta
		#{$bem}__title
			--typo-elm-mt: 1.875rem
		#{$bem}__btn
		.detail-2
			--l: -36.625rem






$bem: '.block-title'
.block-title
	--fz: 5.75rem
	font-size: var(--fz)
	font-weight: 700
	display: flex
	flex-direction: column
	flex-wrap: wrap
	justify-content: flex-start
	align-items: flex-start
	margin-top: var(--typo-elm-mt)
	margin-bottom: var(--typo-elm-mb)
	& &__icon
		line-height: 1
		.text-line
			--border: 0.0625rem
			--color: var(--pr)
			--fz: 2.25rem
	& &__text
		margin-left: -0.25rem
		letter-spacing: -0.0625rem
		&-line
			--fz-ghost: 5.75rem
			--mt: -0.125rem
			--mb: -0.3125rem
			margin-top: var(--mt)
			margin-left: var(--mb)
			letter-spacing: -0.0625rem
			.text-line
				--border: 0.0625rem
	&--sm
		--fz: 3.5rem
		#{$bem}__text
			&-line
				--fz-ghost: var(--fz)
				--mt: 1.125rem



.title-cols
	.block-title-wrap
		.block-title
			--typo-elm-mt: 0 
			--typo-elm-mb: 3.75rem
	.block-text-wrap
		.text-mutted
			


.user-img-text
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	align-content: center
	justify-content: flex-start
	align-items: center
	&__ava
		border-radius: 50%
		&-hold
	&__content
		margin-left: 1.875rem
	&__name
		font-size: 1.25rem
		font-weight: 600
		margin: 0 0 0.5rem
		letter-spacing: -0.01875rem
	&__work
		font-size: 0.875rem
		font-weight: 400
		margin: 0




.partners
	& &__box
		justify-content: space-between
	& &__text
	& &__btn-holder
		--mb: 0.55rem
		align-self: flex-end
		margin-bottom: var(--mb)




.services
	& &__wrapper
		margin-top: 11.625rem
	& &__item
		margin: 5.9375rem 0
		&-title
			font-size: 4.375rem
			margin: 0
			cursor: pointer
			&.text-mutted
				font-size: 2rem
				font-weight: 400



$bem: '.quotation'
.quotation
	background-color: var(--gray-light)
	min-height: 1080px
	.container
		padding-top: 15rem
	& &__box
		position: relative
		padding: 8.4375rem 0 0
		margin-left: 10.25rem
		.icon-quote
			--w: 7.875rem
			--h: 7.875rem
			position: absolute
			top: 0
			left: 0
			color: var(--pr)
		.icon-hero-element
			--w: var(--img-hero-sz)
			--h: var(--img-hero-sz)
			position: absolute
			bottom: -7.1875rem
			right: -7.8125rem
	& &__quote
		margin: 0 0 1.5rem 10.5rem
		&-text
			font-size: 2.5rem
			font-weight: 600
			margin: 0
	& &__caption
		display: flex
		flex-direction: column
		line-height: 1.65
		&-top
			font-size: 1.125rem
			font-weight: normal
			font-weight: 700
		&-bottom
			font-size: 0.875rem
			color: var(--gray)
			font-weight: 400
	.detail
		&.detail-1
			--t: -6.5rem
			--r: -27.5rem
			--sz: 29.8125rem
			--rt: -2deg
		&.detail-2
			--b: -15.625rem
			--l: -31.625rem
			--sz: 35.625rem
			--rt: 87deg
	&--ghost
		background-color: transparent
		min-height: initial
		#{$bem}__box
			margin-left: 0
		#{$bem}__quote
			margin: 1.75rem 0 1.5rem 7rem
			&-text
				font-size: 1.5rem
				max-width: 60rem







.gallery-el-overlay,
.gallery-slide
	--offset-box: -35px
	position: relative
	overflow: hidden
	&::before,
	&::after
		content: ''
		position: absolute
		left: -5%
		width: 110%
		height: 3.75rem
		background-color: var(--ov-box-bg)
		border-radius: 50%
	&::before
		top: var(--offset-box)
	&::after
		bottom: var(--offset-box)


.gallery-mega-slide
	--max-w: 66.25rem
	background-color: var(--gray-light)
	min-height: 40.625rem
	width: var(--max-w)
	margin: 0 auto
	padding: 5rem 5rem 3.75rem 5rem
	display: flex
	flex-direction: column
	justify-content: space-between
	margin-bottom: 2.625rem
	position: relative
	transition: all .35s
	& &__logo
		max-width: 14.375rem
		max-height: 3.75rem
		&-wrap
	& &__img
		width: 100%
		max-width: 23.75rem
		&-wrap
			position: absolute
			bottom: -3rem
			right: -1.25rem
	& &__text
		font-size: 1.25rem
		&-wrap
			max-width: 33.75rem
	& &__btn
		margin-top: 2.5rem


.slick-list
	.gallery-item-bottom.slick-current ~ .gallery-item-bottom
		.gallery-mega-slide
			--max-w: 100%

.gallery-item-bottom
	&-btn
		position: absolute
		top: -2.5rem
		right: 13.5%
		z-index: 9
		.icon
			--sz: 1.0625rem
	&-nav
		& &__img
			cursor: pointer
			margin: 0 auto
			width: auto
			height: 100%
			max-width: 7.25rem
			max-height: 1.875rem

.js-gallery-logo
	.gallery-item-bottom-btn
		&.slick-disabled
			opacity: .5

.gallery
	& &__box
		justify-content: space-between
		margin-bottom: 6.75rem
	& &__btn-holder
		align-self: flex-end
		margin-bottom: 6.25rem
	& &__meta-item
		font-size: 1rem
		color: var(--gray-light2)


.gallery-images
	& &-wrapper

	.gallery-slide-hold
		width: 100%
		padding: 0 0.9375rem
	.gallery-slide-img
		width: 100%





.video-block
	--min-h: 1080px
	--img: url('../img/video-img.jpg')
	min-height: var(--min-h)
	background-image: var(--img)
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	& &__play
		--fz: 0.75rem
		--sz: 5.125rem
		--bg-color: var(--pr)
		--t-style: none
		--t: 13.125rem
		--r: 25.9375rem
		position: absolute
		top: var(--t)
		right: var(--r)



.join-team
	background-color: var(--gray-light)
	.blog-card
		.blog-card__category
			--fz: 1.25rem
			--mb: -0.625rem
	.block-title
		&__text
			&-line
				.text-line
					width: 110%
	.form-style
		margin-top: 5rem
	.detail
		&.detail-1
			--t: -8.875rem
			--r: -28.75rem
			--sz: 20.625rem
			--rt: -192deg
		&.detail-2
			--b: -12.75rem
			--l: -31.625rem
			--sz: 24.375rem
			--rt: 127deg




.preference
	& &__box-wrap-1
		--p: 0 0 10.625rem
		.animation-graph-container
			top: 8.625rem
			right: -49.125rem
			.graph-text
				top: 21.1875rem
				left: 35rem
				font-size: 12.5rem
				font-weight: 400
				font-style: italic
				i
					font-size: 3.75rem
					font-weight: 300
					top: 4.375rem
					right: -4.25rem
	& &__box-1
	& &__box-2
	& &__box-3
		--p: 17.75rem 0 7.5rem 7rem
		.block-title
			--fz: 3.5rem
			--typo-elm-mb: 2.5rem
		.text-mutted
			--max-w: 31.875rem

