.footer
	background-color: var(--bl)
	color: var(--wh)
	padding-top: 12rem
	.form-style
		max-width: 31.875rem
	& &__title
		--fz-title: 3.5rem
		--fz-title: 3.5rem
		font-size: var(--fz-title)
		color: var(--wh)
		&-part-1
			margin-bottom: 1.25rem
		.text-line
			--color: var(--wh)
		.block-title
			&__text-line
				--fz-ghost: var(--fz-title)
	& &__top
		&-form
			align-self: flex-end
			.form-style
				margin-left: auto
				margin-right: 0
				margin-bottom: 0.25rem
	& &__links
		&--top
			--p: 17.25rem 0 5rem
			--card-width: 50%
		&--bottom

	& &__contacts
		&-part
		&-label,
		&-value,
		&-map
			margin: 0 0 1.875rem
			padding: 0
			color: var(--wh)
		&-label
		&-value
		&-map
	& &__link
		--fz: 1.25rem
		font-size: var(--fz)
		color: var(--wh)
	& &__social
		flex-wrap: wrap
		&-item
			width: 50%
			min-height: 5.3125rem
	& &__copyright
		margin: 0
		opacity: .6
	& &__bottom
		justify-content: space-between
		color: var(--wh)
		padding: 2.1875rem 0
		.list
			--li-p: 0 0.75rem
			--li-m: 0
			--link-p: 0
			--link-m: 0
			--link-sz: 1.625rem
			--link-c: var(--wh)
			--link-h-c: var(--pr)
			&-link
				opacity: .6
				&:hover
					opacity: 1

	.detail
		color: var(--wh)
		&.detail-1
			--t: 10.5rem
			--r: -42.8125rem
			--sz: 35.9375rem
			--rt: -30deg
		&.detail-2
			--t: 0.625rem
			--l: -39.375rem
			--sz: 35rem
			--rt: 120deg