.services-paid

	$bem: '.header'
	.header
		#{$bem} &__text-wrap
			--p: 1.25rem 0 2.8125rem
			.grid-item
				max-width: 33.75rem

	$bem: '.gallery-images'
	.gallery-images
		--m: -17.25rem 0 -7rem
		&-wrapper
			--ov-box-bg: var(--gray-light)
			&.gallery-el-overlay
				&::after
					--offset-box-after-c: var(--base-bg)

	.partners
		--p: 12.5rem 0 0


	.preference
		--p: 7.1875rem 0 17.5rem

	.services-blog-list.blog-list
		--p: 19.25rem 0 0
		--card-max: 100%

	.join-team
		--m: 19.6875rem 0 0
	
	.gallery
		--p: 19.375rem 0 0

	.block-blog-list
		--p: 13.625rem 0 18.75rem