.page-news
	.header
		&__hold
			.text-mutted
				max-width: 38.75rem
	
	.gallery-under-header
		--m: -16.375rem 0 0.625rem

	.news-header
		--p: 18.75rem 0 0
		.grid-item
			&--title
				--card-width: 30%
				--card-min: 31.25rem
			&--text
				--card-width: 70%
				--card-min: 46.875rem
		.news-category

		.pagination-hold
			--m: 2.75rem 0


	.news-cards
		


	.join-team
		


	.preference
		--p: 17rem 0 14.375rem