.page-news
	.header
		&__hold
			.text-mutted
				max-width: 38.75rem
	
	.gallery-under-header
		--m: -16.375rem 0 0.625rem

	.news-header
		--m: 18.75rem 0 12.375rem
		.grid-item
			&--title
				--card-width: 30%
				--card-min: 31.25rem
			&--text
				--card-width: 70%
				--card-min: 46.875rem
		.news-category
			--mb: 1.5625rem
			margin-right: -3.25rem

		.pagination-hold
			--m: 2.75rem 0


	.news-cards
		--m: 0 0 12.5rem


	.join-team
		


	.preference
		--p: 17rem 0 14.375rem
		.grid
			.grid-item--text
				--mb: 2.5rem