.page-home

	$bem: '.header'
	.header
		#{$bem} &-slide__btn
			--m: 0 0 1.25rem

	.preference
		--p: 8rem 0 0

	.services
		--p: 18rem 0 14.25rem


	.home-blog-inline
		--p: 17.1875rem 0 0


	.gallery
		--p: 18.125rem 0 0


	.home-blog-small
		--p: 14.375rem 0 18.75rem